@font-face {
    font-family: 'open-sans-r';
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");

    font-family: 'open-sans-l';
    src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf");

    font-family: 'aleo-r';
    src: url("../assets/fonts/aleo/Aleo-Regular.otf");

    font-family: 'aleo-b';
    src: url("../assets/fonts/aleo/Aleo-Bold.otf");
}
.searchcoffe {
    background-color: #2E1B12;

}

.titlesearch {
    color: #FFB800;
    text-align: center;
    font-family: 'Aleo';
    padding-top: 30px;
}

.design {
    color:white!important;
    background: inherit;
    background-color:transparent!important;
    background-clip: padding-box;
    border: 2px solid #ffffff!important;
    border-radius: 20px!important;
}

.color {
    color: #ffffff!important;
}

.cafeteria {
    padding-top: 90px !important;
    padding-bottom: 30px;
}
.center {
    justify-content: center !important;
    align-items: center !important;
}

@media (min-width:360px) {
    .cafeteria {
        padding-top: 30px !important;
        padding-bottom: 30px;
    }   
}


