#contactSection{
    padding-left:12%;
    padding-right: 10%;
    margin-top: 4em;
}
h2{
    font-family:'Aleo', 'sans-serif';
}
.followUs{
    color:#137C8B;
    text-align:center;
    margin-left: 6%;
    margin-bottom: 1em;
}
.social-network{
    text-align: center;
    align-content: center;
    float:inherit;
}
.social-network:nth-child(1n){
    color: white;
}
.social-network li{
    width:1.5em;
    height:1.5em;
    padding: 0.22em;
    border-radius:15px;
    background:#137C8B;
    margin:0.3em;
}
.social-network li:hover{
    background: #FFB800;
}

.contactForm input{
    border-radius: 10px;
    margin-bottom: 1em;
    font-family: 'Open Sans';
    background: #FFB800;
    height: 1.9em;
    border-color: white;
}
.contactForm input:enabled{
    background: #FFB800;
    color: black;
    border-color: white;
}
#msgContact{
    height: 5em;
    vertical-align: text-top;
}
.contactForm input::placeholder{
    color: black;
}
.contactUs{
    color:#137C8B;
    text-align:center;
    margin-left: 5%;
    margin-bottom: 1em;
}
#btnContact{
    background: #137C8B;
    font-family: 'Aleo','sans-serif';
    color: white;
    border-radius: 10px;
    margin-left: 40%;
}
#btnContact:hover{
    background: #FFB800;
    font-family: 'Aleo','sans-serif';
    color: white;
    border-radius: 10px;
    margin-left: 40%;
}
.fa-play{
    color: #FFB800;
    font-size: 2em;
    transform: rotate(270deg);
    margin-left:105%;
}

@media (min-width: 1920px) {
  
   .fa-play{
       margin-left: 35em;
   }
  }