*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

footer{
    width: 100%;
    background: #9F6138;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum2{
    max-width: 400px;
}

.colum3{
    max-width: 400px;
}

.colum4{
    max-width: 400px;
}

.rowFoot{
    display: flex;
}

.rowFoot label{
    margin-left: 20px;
}

.rowFoot2{
    display: flex;
    color: black;
}

.rowFoot2 label{
    margin-left: 20px;
    max-width: 140px;
}

.rowFoot3{
    display: flex;
    color: black;
}

.rowFoot3 label{
    margin-left: 20px;
    max-width: 140px;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }

    .colum4{
        margin-top: 40px;
    }
}













