footer{
    font-family: 'Open Sans';
    font-size: 0.75em;
    width: 100%;
    background: #9F6138;
    color: white;   
    display: flex;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.imgFooter{
    width: 50%;
}
.colum1,
.colum2,
.colum3,
.colum4{
    max-width: 400px;
    margin-top: 20px;
}

.rowFootSpecial:hover label, 
.rowFoot2:hover, 
.rowFoot3:hover{
    color: #FFB800;
}

.rowFoot2, 
.rowFoot3, 
.rowFoot3Special{
    color: black;
}

.rowFoot label,
.rowFoot2 label, 
.rowFoot3 label, 
.rowFoot3Special label{
    margin-right: 1em;
}

@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }    
    .colum1{
        max-width: 100%;
    }    
}
@media screen and (min-width: 500px){
    footer{
        font-size: 0.85em;
    }
    .imgFooter{
        width: 60%;
    }
}
@media screen and (min-width: 540px){
    .imgFooter{
        width: 75%;
    }
}
@media screen and (min-width: 630px){
    footer{
        font-size: 0.90em;
    }
    .imgFooter{
        width: 80%;
    }
}
@media screen and (min-width: 840px){
    footer{
        font-size: 0.95em;
    }
    .imgFooter{
        width: 90%;
    }
}
@media screen and (min-width: 1024){
    footer{
        font-size: 1em;
    }
    .imgFooter{
        width: 100%;
    }
}