@font-face {
    font-family: 'Intro-Script-R';
    src: url("../assets/fonts/intro-script-r/IntroScriptR-H2Base.otf");
}
.bg-nav{
    width: 100%;
    max-height: 70%;
    z-index: 1000;   
    transition: 0.3s;
}
.iconNav{
    margin-top: -0.3em;
}
.menu{
    background-color: #9F6138;    
} 
#menu{
    text-align: center;
    margin-top: 0.7em;
    justify-content: center;
    align-content: center;
}
.menu-table{
    visibility: visible;
}
.standard-menu ul{
    text-align: right;
    margin: 0;
}

.standard-menu ul li{
    display: inline-block;
    padding: 0 0 0 1em;
    line-height: .5em; 
}
.standard-menu ul li a{
    font-family:'Aleo-b';
    color: #FFFFFF;
}
.standard-menu ul li a:hover{
    color: #FFB800;
}

.nav-title{
    font-size: 6rem;
    color: #FFB800;
    font-family: 'Intro-Script-R';
}

.main-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .main-menu {opacity: 1; visibility: visible; background: #137C8B; max-height: 100%!important; text-align: center; }
.main-menu .nav li a{color:#FFFFFF; font-size: 4vh; font-weight:600; font-family:'Aleo'; }
.main-menu .nav li a:hover{ color:#FFB800; font-size: 4vh; font-weight:600; font-family:'Aleo'; }
.main-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.main-menu .nav li.delay-1{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
.main-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.main-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.main-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.main-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
.main-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.main-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.main-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.main-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; }

.nav-button{position: relative; z-index:1111; height:42px; display:block; width:50px; padding:12px; }
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#FFB800;border-radius:5px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}


/*-Responsive-------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    .standard-menu ul li{
        padding: 0 0 0 0.1em;
        font-size: 0.9em;
    }
    .ham{
        margin-top: 0.3em;
    }
}


@media screen and (max-width: 1000px){
    .standard-menu ul li{
        padding: 0 0 0 0.1em;
        font-size: 0.85em;
    }
    .ham{
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 900px){
    .nav-title{
        font-size: 5em;
    }
}

@media screen and (max-width: 800px){
    .bg-nav{
        max-height: 60%;
        }   
    .standard-menu ul li{
        padding: 0 0 0 0.01em;
        font-size: 0.8em;
        }
    .ham{
        margin-top: 0.9em;
        }
}
@media screen and (max-width: 700px){
        .ham{
            margin-top: 1.3em;
            }
        .nav-title{
            font-size: 4em;
        }
    }

@media screen and (max-width: 600px){
    .bg-nav{
        max-height: 60%;
        }
    
    .standard-menu ul li{
        padding: 0 0 0 0.01em;
        font-size: 0.75em;
        }
    .ham{
        margin-top: 1.6em;
        }
    .nav-title{
        font-size: 3em;
        }
}

@media screen and (max-width: 500px){
    .bg-nav{
        max-height: 60%;
        }
    .standard-menu ul li{
        padding: 0 0 0 0.01em;
        font-size: 0.7em;
        }
    .ham{
        margin-top: 1.6em;
        }   
    .nav-title{
        font-size: 2.5em;
        }
}

@media screen and (max-width: 400px){
    .bg-nav{
        width: 100%;
        max-height: 40%;
        z-index: 1000;   
        transition: 0.3s;
        }
    .standard-menu ul li{
        padding: 0px;
        font-size: 0.65em;
        }
    .ham{
        margin-top: 1.6em;
        }
}