@font-face {
    font-family: 'open-sans-r';
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");

    font-family: 'open-sans-l';
    src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf");

    font-family: 'aleo-r';
    src: url("../assets/fonts/aleo/Aleo-Regular.otf");

    font-family: 'aleo-b';
    src: url("../assets/fonts/aleo/Aleo-Bold.otf");
}
#slide .carousel_size {
    width: 100%!important;
}

#slide {
    height: 100vh!important;
    
}

#slide .slider {
    height: 60vh;
    width: 100vw;
}
#slide .slidel {
    height: 40vh;
    width: 100vw;
    
}

#slide .description {
    padding-left: 20%!important;
    padding-right: 20%!important;
    padding-top: 10%!important;
    padding-bottom: 10%!important;
    text-align: center; 
}

#slide .title-h3{ 
    font-family: 'Aleo';
    color: #137C8B;
    font-size: 23px !important;
}

#slide .paragraph {
    font-family: 'Open Sans';
    color: black;
    font-size: 18px !important;
    text-align: center;
}

#slide .btn-link {
    font-family: 'Aleo';
    font-size: 25px !important;
    display:block;
    margin:auto;
    color: #FFB800!important;
    float: right;
}

#slide .center {
	margin: 0!important;
    padding: 0!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    visibility: visible!important;
    background-image: none;
}


.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
    color: #FFB800!important;
    text-align: center;
    opacity: 0;
    font-size: 60px;
    bottom: 10%;
}

@media (min-width:720px) {
    #slide {
        height: 75vh!important;
        margin: 0;
    }

    #slide .slider {
        height: 75vh;
        width: 50%;
    }
    #slide .slidel {
        /*padding-top: 10px!important;*/
        height: 75vh;
        width: 50%;
    }
    
    #slide .description {
        padding-left: 30%!important;
        padding-right: 25%!important;
        /*padding-top: 200px;*/
        margin-top: 10%;
        margin-bottom: 30%;
    }
    
    #slide .title-h3{
        color: #137C8B;
        font-family: 'Aleo';
        font-style: bold;
        font-size: 28px !important;
        text-align: left;   
    }
    
    #slide .paragraph {
        color: black;
        font-family: 'Open Sans';
        font-size: 18px !important;
        text-align: justify;
    }
    

}





