@font-face {
    font-family: 'Intro-Script-R';
    src: url("../assets/fonts/intro-script-r/IntroScriptR-H2Base.otf");
}
.welcome {
    background: url("../images/welcome/360Fondo.jpg");
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
    padding-top: 8em;
    overflow: hidden;
    overflow: auto;
}
.img-fluid {
    width: 12em;
    display: block;
    margin: auto;
    z-index: 99999;
    position: static;
    opacity: 1;
}
.fade{
        animation: 5s fade 1;
}

@keyframes fade {
        0%{
                opacity: 0;
        }
        50%{
                opacity: 0.7;
        }
}
/*Título Welcome Section-------------------------------------------*/
.tittle-welcome  {
        font-size: 2.8em;
        color: #FFB800;
        font-family: 'Intro-Script-R';
        text-align: center !important;
      }
.tittle-welcome  span.character {
        display: inline-block;
        font-family: 'Intro-Script-R';
        transition: opacity 3s 0.5s ease, -webkit-transform 4s ease-out;
        transition: opacity 3s 0.5s ease, transform 4s ease-out;
        transition: opacity 3s 0.5s ease, transform 4s ease-out, -webkit-transform 4s ease-out;
      }
/*Triángulo--------------------------------------------------------*/
.div-tri{
        overflow: hidden;
        height: 3em;
    }
.triangle-wel, .triangle-wel:before, .triangle-wel:after {
      position: relative;
      display:block;
      width:  1em;
      height: 1em;
      background: #FFB800;
      border-top-right-radius: 0.5em;
      opacity: 1;
   }
    .triangle-wel {
      margin: 0.5em auto 0 auto;
      transform: rotate(-0deg) skewX(-30deg) scale(1,.866);
    }
    .triangle-wel:before, .triangle-wel:after {
            content: '';
            position: absolute;
    }
    .triangle-wel:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    }
    .triangle-wel:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    }
/*Responsive--------------------------------------------------------*/
@media screen and (min-width: 360px) {
        .welcome {
                background: url("../images/welcome/768Fondo.jpg");
                height: 100vh;
                padding-top: 7em;
         }
        .img-fluid {
                width: 13em;
        }
        .tittle-welcome  {
                font-size: 3.2em;
                text-align: center;
        }
        .div-tri{
                height: 4em;
        }
        .triangle-wel, .triangle-wel:before, .triangle-wel:after {
                width:  1.2em;
                height: 1.2em;
                background: #FFB800;
                border-top-right-radius: 0.5em;
        }
}
@media screen and (min-width: 440px) {
        .tittle-welcome  {
                font-size: 4em;
                text-align: center;
        }
}
@media screen and (min-width: 600px) {
        .img-fluid {
                width: 14em;
        }
        .tittle-welcome  {
                font-size: 5em;
        }
        .triangle-wel, .triangle-wel:before, .triangle-wel:after {
                width:  1.3em;
                height: 1.3em;
                background: #FFB800;
                border-top-right-radius: 0.55em;
        }
}
@media screen and (min-width: 768px) {
        .welcome {
                background: url("../images/welcome/1024Fondo.jpg"); 
                background-size: cover;
        }
        .img-fluid {
                width: 15em;
        }
        .tittle-welcome  {
                font-size: 6em;
        }
        .triangle-wel, .triangle-wel:before, .triangle-wel:after {
                width:  1.4em;
                height: 1.4em;
                border-top-right-radius: 0.6em;
        }
}
@media screen and (min-width: 900px) {
        .welcome{
                padding-top: 8em;
        }
        .img-fluid {
                width: 16em;
        }
        .tittle-welcome  {
                font-size: 7em;
        }
}
@media screen and (min-width: 1024px) {
        .welcome{
                background: url("../images/welcome/1280Fondo.jpg");          
        }
        .img-fluid {
                width: 17em;
        }
        .tittle-welcome  {
                font-size: 7em;
        }   
        .triangle-wel, .triangle-wel:before, .triangle-wel:after {
                width:  1.5em;
                height: 1.5em;
                border-top-right-radius: 0.65em;
        }
}
@media screen and (min-width:1500px) {
        .welcome{
                background: url("../images/welcome/1680Fondo.jpg"); 
                padding-top: 9em;
        }
        .img-fluid {
                width: 18em;
        }
        .tittle-welcome  {
                font-size: 8em;
        }
}
