h2{
    font-family:'Aleo', 'sans-serif';
    margin-top: 2em;
}
.followUs{
    color:#137C8B;
    text-align:center;
    margin-bottom: 1em;
}
.social-network{
    text-align: center;
}
.social-network:nth-child(1n){
    color: white;
}
.social-network li{
    width:1.5em;
    height:1.5em;
    padding: 0.22em;
    border-radius:15px;
    background:#137C8B;
    margin:0.3em;
}
.social-network li:hover{
    background: #FFB800;
}
.contactForm input{
    border-radius: 10px;
    margin-bottom: 1em;
    font-family: 'Open Sans';
    background: #FFB800;
    height: 1.9em;
    border-color: white;
}
.contactForm input:enabled{
    background: #FFB800;
    color: black;
    border-color: white;
}
#msgContact{
    height: 5.5em;
    vertical-align: text-top;
}
.contactForm input::placeholder{
    color: black;
    margin-top: 1px;
}
.contactUs{
    color:#137C8B;
    text-align:center;
    margin-bottom: 1em;
}
#btnContact{
    background: #137C8B;
    font-family: 'Aleo','sans-serif';
    color: white;
    border-radius: 10px;
    margin-bottom: 2em;
    margin-left: 43%;
}
#btnContact:hover{
    background: #FFB800;
    font-family: 'Aleo','sans-serif';
    color: white;
    border-radius: 10px;
}

/*Button ScrollUp------------------------------------------*/
.to-top { 	
    color: #FFB800;
    font-size: 2em;
	position: absolute; 
	bottom: 0em; 
	right: 1em; 
    padding: 10px 20px; 
}
.to-top:hover{ 
    opacity: 0.9;
    color: #FFB800;
}

.tdLeft{
    width: 40%;
}

/*Responsive-------------------------------------------------*/
@media (min-width: 1024px) {
    .tdRight{
        width: 40%;
    }
}

@media (max-width: 1024px) {
    #btnContact{
        margin-left: 35%;        
    }
}
@media (max-width: 980px) {
    .social-network li{
        width:1.3em;
        height:1.3em;
        padding: 0.11em;
        border-radius:15px;
        background:#137C8B;
        margin:0.15em;
    }
    #btnContact{
        margin-left: 31%;
    }
}
@media (max-width: 600px) {

    .social-network li{
        width:1.2em;
        height:1.2em;
        padding: 0.09em;
        border-radius:15px;
        background:#137C8B;
        margin:0.15em;
    }
    #btnContact{
        margin-left: 31%;
    }
}
@media (max-width: 400px) {
      .followUs , .contactUs{
        font-size: 1.5em;
    }
    .contactForm input{
        font-size: 0.7em;
    }
    #btnContact{
        width: 50%;
        font-size: 0.7em;
        margin-left: 30%;
    }
}