<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/style_maintenance.css" rel="stylesheet">
	</head>
	<body>
		<div class="split down">
		
		</div>
		<div id="centered" class="container-fluid text-center">
			<img src="../images/maintenance/TazaError.png" alt="Imagen Error">
			<h2>OOPS!</h2>
			<h3>Algo malo ha ocurrido</h3>
			<h3>Nuestros ingenieros están trabajando en ello!</h3>
			<a href="/" class="btn btn-outline-primary">Recarga la página</a>
		</div>
	</body>
</html>